@import url("./colores.css");

nav{
    
    height: 60px;
    margin: auto;
    display: flex;
    width: 80%;
    justify-content: right;
}
nav ul{
    height: 80%;
    display: flex;
    justify-content: right;
    gap: 25px;
}
nav ul a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 25px;
    color: var(--title-color);
}
